{
  "extends": "airbnb",
  "globals": {
    "document": true
  },
  "env": {
    "jest": true
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
